/* basic */

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  display: block;
  font-family: inherit;
}

img {
  display: block;
}

a {
  text-decoration: none;
  display: block;
}

input {
  outline: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #22343d;
  background-color: #fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 411px;
  padding: 0 20px;
  margin: 0 auto;
}

/* mobile */

/* header */

.header {
  padding: 17px 0;
  box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.25);
}

.header-items {
  display: flex;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 27px;
}

.logo-title a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
}

.menu-button {
  background-color: inherit;
  border: none;
}

.menu-icon {
  fill: #173a56;
}

/* hero */

.hero-section {
  padding: 29px 0 100px 0;
}

.hero-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  margin: 11px 0 16px 0;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
}

.hero-text {
  text-align: center;
  font-size: 18px;
  line-height: 1.56;
  width: 326px;
  margin-bottom: 20px;
}

.hero-btns {
  display: flex;
  align-items: center;
  gap: 28px;
}

.btn {
  border-radius: 4px;
  height: 53px;
  border: none;
  background-color: #02897a;
  color: #fff;
  font-weight: 700;
}

.btn:hover,
.btn:focus {
  background-color: #054840;
}

.get-started-btn {
  min-width: 142px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms ease-in-out;
}

.watch-the-video-btn {
  min-width: 165px;
  height: 23px;

  display: flex;
  align-items: center;
  gap: 9px;

  font-weight: 600;
  text-decoration: underline;
  color: #02897a;
  background-color: #fff;
  border: none;

  transition: color 250ms ease-in-out;
}

.watch-the-video-icon {
  fill: #02897a;

  transition: fill 250ms ease-in-out;
}

.watch-the-video-btn:hover,
.watch-the-video-btn:focus {
  color: #054840;
}

.watch-the-video-btn:hover .watch-the-video-icon,
.watch-the-video-btn:focus .watch-the-video-icon {
  fill: #054840;
}

/* benefits section */

.benefits-section {
  padding-bottom: 100px;
}

.benefits-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefits-title {
  font-size: 32px;
  text-align: center;

  margin-bottom: 50px;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  margin-bottom: 32px;
}

.benefits-item {
  display: inherit;
  flex-direction: column;
  align-items: center;
}

.benefits-icon-bg {
  width: 50px;
  height: 50px;
  border-radius: 19px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 24px;
}

.benefits-item:nth-child(1) .benefits-icon-bg {
  background-color: #02897a;
}

.benefits-item:nth-child(2) .benefits-icon-bg {
  background-color: #4d8dff;
}

.benefits-item:nth-child(3) .benefits-icon-bg {
  background-color: #740a76;
}

.benefits-item:nth-child(4) .benefits-icon-bg {
  background-color: #f03e3d;
}

.benefits-icon {
  fill: #fff;
}

.benefits-item-title {
  font-weight: 600;
  font-size: 22px;

  margin-bottom: 8px;
}

.benefits-item-text {
  line-height: 1.63;
  text-align: center;

  width: 240px;
}

.benefits-btn {
  min-width: 175px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms ease-in-out;
}

/* use cases section */

.cases-section {
  padding-bottom: 141px;
}
.cases-section-container {
  padding: 0 31px;
}

.cases-list {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.cases-img {
  margin-bottom: 50px;
}

.cases-item {
}

.cases-title {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 16px;
}

.cases-title-span {
  display: block;
  font-weight: 700;
  font-size: 32px;
  margin-top: 8px;
}

.cases-text {
  line-height: 1.63;
}

.managment-list,
.collaborative-list {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.managment-item {
}

.cases-subtitle {
  font-weight: 600;
  line-height: 1.63;
  margin-bottom: 12px;
}

.support-list {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.support-item {
  display: flex;
  gap: 30px;
  align-items: center;
}

.tick-icon-bg {
  width: 35px;
  height: 35px;
  border-radius: 14px;
  flex-shrink: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.support-item:first-child .tick-icon-bg {
  background-color: #f90;
}

.support-item:nth-child(2) .tick-icon-bg {
  background-color: #f03e3d;
}

.support-item:last-child .tick-icon-bg {
  background-color: #4d8dff;
}

.tick-icon {
  fill: #fff;
}

.collaborative-list {
}

.collaborative-item {
}
