/* basic */

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  display: block;
  font-family: inherit;
}

img {
  display: block;
}

a {
  text-decoration: none;
  display: block;
}

input {
  outline: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #22343d;
  background-color: #fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 411px;
  padding: 0 20px;
  margin: 0 auto;
}

/* mobile */

/* header */

.header {
  padding: 17px 0;
  box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.25);
}

.header-items {
  display: flex;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 27px;
}

.logo-title a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
}

.menu-button {
  background-color: inherit;
  border: none;
}

.menu-icon {
  fill: #173a56;
}
