/* basic */

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  display: block;
  font-family: inherit;
}

img {
  display: block;
}

a {
  text-decoration: none;
  display: block;
}

input {
  outline: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #22343d;
  background-color: #fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 411px;
  padding: 0 20px;
  margin: 0 auto;
}
